body {
    font-family: Arial;
    max-width: 600px; 
    margin: 40px auto;

}

input {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}

#output {
    background: wheat;
    padding: 15px;
    margin-top: 20px;

}

